#game-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	width: 60%;
	margin-left: 20%;
}

.game {
	background-color: #555;
	width: 30vw;
	height: 70vh;
}

.game-img {
	width: 80%;
	height: 40%;
	object-fit: cover;
}
