body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
	position: absolute;
	z-index: 3;
	width: 16vw;
	height: 80vh;
	top: 10vh;
	display: grid;
	background-color: red;
	grid-template-rows: 20vh 20vh 20vh 20vh;
}

#bet-menu {
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	height: 40%;
	width: 40%;
	top: 30%;
	left: 30%;
}
